 * {
 box-sizing: border-box;
}
body  {
background-color:#00FF00;
border: 5px solid black;
border-radius: 4px;
}
.left {
 background-color:#00FF00;
 padding:10;
 float:left;
 width:20%;/*The width is 20%, by default*/
}
.main {
 background-color:#00FF00;
 padding:10;
 float:left;
 width:40%;/*The width is 60%, by default*/
}
.right {
 background-color:#00FF00;
 padding:10;
 float:right;
 width:40%;/*The width is 20%, by default*/
}
/*Use a media query to add a break point at 800px:*/
@media (max-width:800px) {
 .left, .right, .main {
   width:100%;/*The width is 100%, when the viewport is 800px or smaller*/
 }
}
 p{
  margin:10;
  padding:10;
  background-color:#00FF00;
  background-repeat:no-repeat;
  background-attachment:fixed;
  font-family:Arial;
  font-size:11px;
  color:Black;
 }
a:link {
   color:#ffffff;
   background-color:#4267b2;
   cursor: pointer;
   border: 1px solid #4080ff;
   border-radius: 4px;
   font-size: 13px;
   height: 28px;
   padding: 0 4px 0 6px;
   text-decoration:none;
}
a:visited {
   color:#ffffff;
   background-color:#4080ff;
   cursor: pointer;
   border: 1px solid #4080ff;
   border-radius: 4px;
   font-size: 13px;
   height: 28px;
   padding: 0 4px 0 6px;
   text-decoration:none;
}
a:hover {
   color:Red;
   background-color:White;
   text-decoration:none;
}
a:active {
      color:White;
   background-color:Red;
   cursor: text;
   border: 1px solid #4080ff;
   border-radius: 4px;
   font-size: 13px;
   height: 28px;
   padding: 0 4px 0 6px;
   text-decoration:none;
}
#overlay {
 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 2;
     opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}


#text{
    position: fixed;
    top: 5%;
    left: 15%;
     color:Black;
   background-color: transparent;
   cursor: pointer;
   border: 0px solid #4080ff;
   border-radius: 4px;
   font-size: 18px;
    font-weight: 1000;
    text-shadow: 4px 4px 8px #00FF00;
   height: 28px;
   width: 350px;
   padding: 0 4px 0 6px;
   text-decoration:none;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
       opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}
